html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');

  font-size: 30px;
}

.timer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.field:not(:last-child) {
  margin-right: 10px;
}

div > span.value {
  margin-right: 10px;
  font-weight: 900;
  color: red;
}
